*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #2e0606;
}
.home h1{
    text-align: center;
    font-style: oblique;
    color: white;
    
}
.home img{
    width: 100%;
}
.home a{
    animation: widthAnimate .4s ease-in-out infinite ;
    
}
h1{
     background-color: black;
 }


